<%= form_with model: @transaktion, url: category_transaktions_path, local: true do |f| %>
  <div class=grid-container>
    <div class=grid-item>
      <%= link_to image_tag(asset_path('back-arrow-icon.svg'), class: 'back-arrow'), category_transaktions_path(@categorie) %>
    </div>
    <div class=grid-item>
      <div class=text>
        TRANSACTION
      </div>
    </div>
    <div class=grid-item>
      <%= f.submit "SAVE", data: {turbo: false} %>
    </div>
  </div>
  <%= f.text_field :name, placeholder: 'Name', class: 'input-field' %>
  <%= f.text_field :amount, placeholder: 'Amount', class: 'input-field' %>
  <div class=jc-center>
    <%= f.select :id, options_for_select(@categories.collect { | x | [x.name, x.id] }), class: 'drop-down' %>
  </div>
<% end %>
<div class=note>
  Hi <%= @author.name %>, you are creating a Transaction.
  once you input 'Name', 'Amount' and choose the 'Categorie, click enter or save button.
</div>
