<div class=topbar>
  <div class=column>
    <p>
      Signed in as
    </p>
    <%= @author.email %>
  </div>
  <div class=title>
    CATAGORIES
  </div>
  <% if user_signed_in? %>
    <div class=column>
      <%= button_to 'SIGN OUT', destroy_user_session_path, method: :delete, data: {turbo: false}, class: 'link-white' %>
    </div>
  <% end %>
</div>
<div class=categorie-container>
  <% @categories.each do |categorie| %>
    <%= link_to category_transaktions_path(categorie.id), class: 'cards' do %>
      <div class=categorie-card>
        <div class=column>
          <img src="<%= categorie.icon %>" width=60 height=60>
        </div>
        <div class=column>
          <div class=c434b54>
            <%= categorie.name %>
          </div>
        </div>
        <div class=column>
          <div class=c434b54>
            <%= categorie.categorie_transaktions.includes([:transaktion]).sum {|x| x.transaktion.amount } %>$
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class=link-margin>
    <%= link_to 'CREATE CATAGORIE', new_category_path, class: 'link-style' %>
  </div>
</div>
